@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* white color for sidebar icons*/
:root {
    --main-filter: invert(96%) sepia(100%) saturate(12%) hue-rotate(237deg) brightness(103%) contrast(103%); 
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.43fr 1fr 1fr 0.5fr;
    grid-template-rows: 0.5fr 1fr 0.5fr 1.5fr;
    grid-template-areas: 
    "sidebar header header header"
    "sidebar main main anouncements"
    "sidebar main main anouncements"
    "sidebar main main trending";
}

header {
    grid-area: header;
    background-color: #fefffe;
    padding-bottom: 10px;
    padding-top: 5px;
}

.upperHeaderPart {
    display: flex;
    justify-content: space-between;
}

.searchSvg_searchBar {
    display: flex;
    align-items: center;
}

#searchIcon {
    width: 25px;
}

.input {
    height: 25px;
    width: 30rem;
    border-radius: 12px;
    background-color: #e2e8f0;
    border: none;

}

.bellimg_name_profilepic {
    display: flex;
    align-items: center;
}

#bellIcon {
    width: 25px;
}

.upperRightProfilePic {
    width: 50px;
    border-radius: 100px;
}

.lowerHeaderPart {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}

.pic_greeting_name {
    display: flex;
    gap: 20px;
    align-items: center;
}

.upperHeaderPart, .lowerHeaderPart {
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    
}

.searchSvg_searchBar {
    gap: 10px;
}

.bellimg_name_profilepic {
    gap: 20px;
}

.buttons {
    display: flex;
    gap: 40px;
    height: 40px;
    align-items: center;
}

.buttons > button {
    width: 100px;
    border-radius: 20px;
    border: none;
    background-color: #1992d4;
    color: white;
    font-weight: bolder;
    padding: 12px;
    


}

.lowerLeftImg {
    width: 70px;
    border-radius: 100px;
}

.bigName {
    display: flex;
}


.sidebar {
    grid-area: sidebar;
    background-color: #1892d5;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 2fr 1fr;
    padding-right: 20px;
    padding-left: 13px;
    
    
}

.main {
    grid-area: main;
    background-color: bisque;
}

.anouncements {
    grid-area: anouncements;
    background-color: blueviolet;
}

.trending {
    grid-area: trending;
    background-color: cadetblue;
}

.sidebar-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    width: 50px;
}

.logoName {
    font-size: 25px;
    font-weight: 800;
    color: white;
}

.menu {
    display: grid;
    
}


.upperMenu {
    width: 30px;

}

.lowerMenu {
    width: 30px;
    padding-top: 30px;

}

.icon-name {
    display: flex;
    gap: 10px;
    padding-top: 20px;
    align-items: center;
}

.sidebarText {
    color: white;
    font-weight: 800;
}

/* sidebar icons color white */
#privacy, #support, #settings, #communities, #tasks, #history, #messages, #profile, #home, .logo {
    filter: var(--main-filter);
}